.active-link {
    font-weight: 600;
    color: rgb(106, 197, 111) !important;
    background-color: beige;
    border-radius: 5px;
}

.navstyle {
    background-color: #357bc0;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.nav-li,
.icon {
    color: beige;
}