<section>
  <div class="container custom-fullwidth">
    <div class="main">
      <div class="main-text">
        <h5 style="font-size: 25px; font-weight: 400">QUALITY CARE</h5>
        <h1 style="font-size: 48px; font-weight: 300">
          MEDICAL SUPPLIES,CARE YOU NEED <br />
          <span id="typing">Where you need</span>
        </h1>
        <button style="font-size: 18px; font-weight: 600; width: 20%">
          DISCOVER MORE
        </button>
      </div>
      <div class="main-img">
        <img
          src="/assets/images/image 167.png"
          alt="Medical Supplies"
          class="img-fluid"
          style="max-height: 100%;" />
      </div>
    </div>
  </div>
</section>
