
<!-- ********************************************************* -->
<!-- start header component -->
<!-- ********************************************************* -->
<app-header></app-header>
<!-- ********************************************************* -->
<!-- end header component -->
<!-- ********************************************************* -->




<!-- ********************************************************* -->
<!-- start products section -->
<!-- ********************************************************* -->

<div class="container py-5">
    <h2 class="text-center mb-4">OUR <strong>TRENDY PRODUCTS</strong></h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <!-- Products looping -->

        @for(product of products; track $index){

        <div class="card card-products h-100 rounded-5 me-4 h-50 ">
            <div class="position-relative mt-3"> <img [src]="product.images" class="card-img-top rounded-4 mt-2 "
                    style="height: 380px; width: 100%;" alt="Product 2">

                <span [ngStyle]="{'background-color':(product.stock) >50 ? 'brown':  
                                                    (product.stock) >10 ? 'orange':
                                                    'green'  }"
                    class="badge position-absolute top-0 start-0 mt-4 ms-3 w-25">{{product.stock}}
                </span>
            </div>


            <div class="card-body">
                <h5 class="card-title fw-bolder">{{product.name.slice(0,20)}}..</h5>
                <span class="h5 mb-0 fw-semibold ">{{product.price |currency}}</span>
                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-outline-success w-75 "><fa-icon [icon]="faCartShopping"
                            class="fs-5 pe-2"></fa-icon>Add to Cart</button>
                    <fa-icon [icon]="faHeart" class="fs-4 text-success" style="cursor: pointer;"></fa-icon>
                </div>
            </div>


        </div>
        }



    </div>
    <h2 class="text-center mb-4 fs-5 mt-5 text-decoration-underline" style="cursor: pointer;" routerLink='/shop'>BROWSE MORE PRODUCTS</h2>

</div>

<!-- ********************************************************* -->
<!-- end products section -->
<!-- ********************************************************* -->



<!-- ********************************************************* -->
<!-- start deals (advertise) section -->
<!-- ********************************************************* -->

<section>
    <div class="counter-container">
        <div class="main-counter">
            <h6 class="fw-semibold">DEAL OF THE WEEK</h6>
            <h2 class="fw-bolder">LAST COLLECTION</h2>
            <button style="font-weight: 500; cursor: pointer; text-decoration: underline; " routerLink="/shop">SHOP
                NOW</button>
            <div class="timer">
                <div class="days">
                    <p> 09</p>
                    <p class="descripton">DAYS </p>
                </div>
                <div class="hours">
                    <p> : 06</p>
                    <p class="descripton">HOURS </p>
                </div>
                <div class="min">
                    <p> : 03</p>
                    <p class="descripton">MINS </p>
                </div>
                <div class="seconds">
                    <p> : 01</p>
                    <p class="descripton">SEC </p>
                </div>
            </div>
        </div>
        <div class="midel-counter"> <img src="/assets/images/image 174.png" alt="Medical Supplies" class="img-fluid"
                style="max-height: 100%;" /></div>
        <!-- <div class="last-counter"></div> -->
    </div>
</section>

<!-- ********************************************************* -->
<!-- end deals (advertise) section -->
<!-- ********************************************************* -->





<!-- ********************************************************* -->
<!-- start offers section  -->
<!-- ********************************************************* -->

<div class="container ">
    <div class="row my-3  rounded-4 pt-4 mb-5" style="background-color: rgb(219, 237, 212,50%);">
        <div class="col-md-4 bg-none " style="width: 24%;">
            <div class="card text-center h-100 border-0 bg-transparent">
                <div class="card-block ">
                    <h2><img src="/assets/images/shipping.png" alt="Medical Supplies" class="img-fluid"
                            style="width: 100px;" />
                    </h2>
                    <h4 class="card-title  fs-5 mt-3 fw-semibold">FAST AND FREE SHIPPING </h4>
                </div>
                <div class="row px-2 no-gutters">
                    <p>FREE DELIVERY </p>

                </div>
            </div>
        </div>
        <div class="col-md-4 " style="width: 24%;">
            <div class="card text-center h-100 border-0  bg-transparent">
                <div class="card-block ">
                    <h2><img src="/assets/images/9-money 1.png" alt="Medical Supplies" class="img-fluid"
                            style="width: 100px;" />
                    </h2>
                    <h4 class="card-title  fs-5 mt-3 fw-semibold">15 DAYS RETURNS</h4>
                </div>
                <div class="row px-2 no-gutters">
                    <p>MONEYBACK GUARNTEE</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 " style="width: 24%;">
            <div class="card text-center h-100 border-0 bg-transparent">
                <div class="card-block ">
                    <h2><img src="/assets/images/Vector.png" alt="Medical Supplies" class="img-fluid"
                            style="width: 80px;" />
                    </h2>
                    <h4 class="card-title fs-5 pt-3 fw-semibold">24/7 CUSTOMER SUPPORT</h4>
                </div>
                <div class="row px-2 no-gutters">
                    <p>FRIENDLY CUSTOMER SUPPORT</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 " style="width: 24%;">
            <div class="card text-center h-100 border-0 bg-transparent">
                <div class="card-block ">
                    <h2><img src="/assets/images/Group.png" alt="Medical Supplies" class="img-fluid"
                            style="width: 100px;" />
                    </h2>
                    <h4 class="card-title  fs-5 pt-4 fw-semibold">OFFERS & GIFTS HERE</h4>
                </div>
                <div class="row px-2 no-gutters">
                    <p>FREE DELIVERY </p>

                </div>
            </div>
        </div>




    </div>
</div>

<!-- ********************************************************* -->
<!-- end offers section  -->
<!-- ********************************************************* -->